.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
      yuri

      %ul.side-header__iconbox__menu
        %li.side-header__box__menu__new-group
          %a{:href => "/groups/new"}
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          %a{:href => "/users/617/edit"}
            %i.fa.fa-cog
  

 