 
.groups
  %a{:href => "/groups/1237/messages"}
    .group
      .group__group-name 宣戦布告
      .group__latest-message テスト
  %a{:href => "/groups/1132/messages"}
    .group
      .group__group-name バスケ部
      .group__latest-message こんにちは
