.main-header
  .main-header__left-box
    %h2.main-header__left-box__current-group{"data-group_id" => "1132"}
      バスケ部
    %ul.main-header__left-box__member-list
      Member：
      %li.main-header__left-box__member-list__member 佐藤タケル
      %li.main-header__left-box__member-list__member yuri
  %a{:href => "/groups/1132/edit"}
    .main-header__edit-btn Edit
