.main-header
  .main-header__left-box
    %h2.main-header__left-box__current-group
      =@group.name
    %ul.main-header__left-box__member-list
      Member：
      
  = link_to 'Edit' do
    .main-header__edit-btn Edit
    .main-header__edit-btn
      = link_to "Edit", edit_group_path(@group.id), class: "btn"