.form
  %form#new_message.new_message{"accept-charset":"UTF-8", action:"/groups/1132/messages", enctype:"multipart/form-data", method:"post"}
    %input{name:"utf8", type:"hidden", value:"✓"}/
    %input{name:"authenticity_token", type:"hidden", value:"1icmZRHfmngO8TcwCyFXVRI+qhjg3dcabbyEoBNxtS24GcqZvqTi3k2wcG5Pokod2xRO4nFB9Ek5Nzf1NYstaQ=="}/
    
    .input-box
      %input#message_content.input-box__text{name:"message[content]", placeholder:"type a message", type:"text"}/
      %label.input-box__image
        %i.fa.fa-image
        %input#message_image.input-box__image__file{name:"message[image]", type:"file", id:"image"}/
        
    %input.submit-btn{"data-disable-with":"Send", name:"commit", type:"submit", value:"Send"}/

