.main-header
  .main-header__left-box
    %h2.main-header__left-box__current-group
      =@group.name
    %ul.main-header__left-box__member-list
      Member：
      - @group.users.each do |user|
        = user.name
  = link_to edit_group_path(@group), class: "btn" do
    .main-header__edit-btn 
      Edit