.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;

  .group {
    margin-bottom: 40px;
    &__name { 
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 5px;
      color: white;
    }  
    &__message {
      margin-bottom: 40px;
      font-size: 11px;
      color: white;
    }
    a {
      color: white;
    }
  }
}